{% extends 'base.html' %}
{% load static %}
{% block body %}

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
    <main id="main" class="main">
    <div class="pagetitle">
      <h1>Task Details Report</h1>
      
    </div><!-- End Page Title -->

    <style>
      @media screen {
        div.divFooter {
          display: none;
        }
      }

      @media print{
        /* Hide every other element */
        body * {
          visibility:hidden;
        }
        /* Then displaying print container elements */
        .print-container, .print-container *{
          visibility:visible;
        }
        .print-container {
          position:absolute;
          top:0px;
        }

        div.divFooter {
          position: fixed;
          bottom: 0;
        }

      }
    </style>
    <br>


  <section class="section print-container">
    <div class="row">
      <div class="col-lg-12">        
        <div class="card">         
          <div class="card-body">          
            <div class="row g-0">

              <div class="row">
                <div class="col-sm-3 gr_title">
                  <img style="height: auto;width: 69px;float:left" src="{% static 'assets\img\display.jpg' %}">
                </div>

                <div class="col-sm-6 gr_title">
                  
                    <h3><span>Techsture Technologies India Pvt. Ltd <br> Task Details Report </span></h3>
                  
                </div>

                <div class="col-sm-3 gr_title">
                  <img style="height: auto;width: 69px;float:right" src="{% static 'assets\img\display.jpg' %}">
                </div>
              </div>

            </div>                         
            <hr>

            <div class="table-responsive">
              <div class="row justify-content-between">

              </div>
              <table id="myTable" class="table table-striped dataTable mt-4" role="grid"
                 aria-describedby="user-list-page-info">
                 <thead>
                  <tr class="ligth">
                      {% for th in table_head %}
                      <th onclick="sortTable({{ forloop.counter0 }})" data-sort="none" class="drop">{{ th }}
                        <hr>
                          <span class="arrow"></span>
                      </th>
                      {% endfor %}
                  </tr>
              </thead>
                 <tbody>
                  {% for check in x %}
                  <tr>
                      <td>{{ check.TaskAddBy }}</td>
                      <td>{{ check.TaskTitle }}</td>
                      <td>{{ check.ProjectName }}</td>
                      <td>{{ check.TaskType }}</td>
                      <td>{{ check.TaskSubtype }}</td>
                      <td>{{ check.TaskPriority }}</td>
                      <td>{{ check.TaskStart }}</td>
                      <td>{{ check.TaskClosed }}</td>
                      <td>{{ check.TaskSLA }}</td>
                      <td>{{ check.RootCase }}</td>
                      <td>{{ check.Markasdone }}</td>
                  </tr>
                  {% endfor %}
                 </tbody>
              </table>
           </div>                         
          </div>
        </div>
      </div>
    </div>

  </section> 


</main> 

<script type="text/javascript" src="{% static 'assets/js/network_status.js' %}"></script>
<script>
  var now = new Date();
  var indianNow = new Date(now.getTime() + (5.5 * 60 * 60 * 1000));

  var morning = new Date(indianNow);
  morning.setHours(5);
  morning.setMinutes(30);

  var morningISO = morning.toISOString().slice(0, 16);
  var currentISO = indianNow.toISOString().slice(0, 16);

  document.getElementById('startdatetime').value = morningISO;

  document.getElementById('enddatetime').value = currentISO;
</script>
{% endblock body %}
